
nav{
    background-color: #333;
    text-align: center;
}


nav ul li {
    display: inline-block;
    padding:20px;
    color:rgb(99, 97, 97);
    
    
}

 nav ul li img{
width: 200px;
height: 70px;

 }   
 div img{
     width:960px;
     height: 450px;
     text-align: center;
     margin: 30px;
     
 }
 section img {
     width:300px;
     height: 375px;
     text-align: center;
     margin:20px;
 }
    
    
